body {
  font-family: "Open Sans", sans-serif;
  background-color: #222834;
  color: #eeeeee;
  margin: 0;
}

/* STRONG, I, EM STYLE IN ARTICLE */
strong,
i,
em {
  color: #94b3fd;
}

/* INPUT STYLE */
input[type="text"] {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  width: 100%;
}

input[type="email"] {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  width: 100%;
}

textarea {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  width: 100%;
}

/* Default sheet style*/
.container {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* BUTTON STYLE */
.btn {
  text-align: center;
  width: 100px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #186ab8;
  border: none;
  color: #eeeeee;
}

/* FORM FIELD STYLE */
.form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* NAVIGATION STYLE */
nav {
  background-color: #186ab8;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

nav h1.title {
  display: inline-block;
  margin: 0;
}

nav ul.list {
  margin: 10px 0 10px;
}

nav ul li.list-item {
  display: inline;
  margin-right: 10px;
}

nav ul li.list-item a {
  color: #eeeeee;
}

/* HEADER STYLE */
header {
  text-align: center;
}

header img.cover {
  width: 240px;
  height: 240px;
  margin: auto;
}

/* IMG ICON STYLE */
header img.icon {
  width: 36px;
  height: 36px;
  margin: 8px 8px 8px 8px;
  border-radius: 50%;
}

header a.icon-link {
  text-decoration: none;
}

/* FOOTER STYLE */
footer {
  margin-bottom: 20px;
}

footer .contact {
  float: left;
  margin-left: 40px;
  width: 40%;
  min-width: 240px;
}

footer .address {
  float: right;
  width: 40%;
  min-width: 240px;
}
